Django==6.0.7
djangorestframework==3.17.1
psycopg2==2.9.12
python-decouple==3.8
gunicorn==26.0.0
django-ratelimit==4.1.0
django-axes==8.3.1
django-csp==4.0
django-referrer-policy==1.0
django-honeypot
django-redis==5.4.0
dj-database-url==2.3.0
whitenoise==6.9.0
